.wrapper {
    max-width: 1280px;
    background-color: #edefec;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 30px;
    border-radius: 15px;
}

.block {
    min-height: 50px;
    background-color: white;
    width: calc(100% - 20px);
    display: flex;
    margin-bottom: 10px;
}

.avatar {
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%;
}

.header {
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.header__info {
    display: flex;
    flex-direction: column;
}

.section-name {
    display: flex;
    flex: 1 1 35%;
    align-items: center;
    justify-content: center;
    background-color: #e4c977;
}

.section-info {
    display: flex;
    flex: 1 1 65%;
    align-items: center;
    padding-left: 20px;
    background-color: #e3f4fb;
}
